/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

*::before,
*::after,
* {
  box-sizing: inherit;
}

.MuiOutlinedInput-notchedOutline  {
  border-color: transparent !important;
  border-radius: 2px !important;
  border-width: 1.5px !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #158EE1 !important;
}

form .Mui-error fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #FF6347 !important;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  box-sizing: border-box;
  overflow: auto;
  height: 100% !important;
}

body {
  height: 100% !important;
  background: #f7f7f7;
}

#app {
  height: 100% !important;
}

.container {
  margin: 0 auto;
  width: 95%;
  padding: 5rem 0;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }

  .container.wide {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
  }

  .container.wide {
    margin: 0 auto;
    width: 85%;
    max-width: 1200px;
  }
}
